<h1>List of Authors</h1>
<% @allauthors.each do |thing| %>
<%= thing.name %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= thing.age%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= thing.gnder%>
<br> 
<% end %>